<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pedir lo que sea</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="misCSS/General.css" rel="stylesheet" />
</head>

<body>

    <div ng-app="myApp" class="container" ng-controller="appCtrl">


        <div id="divImagen" class="d-flex">
            <img class="flex-fill" src="comida.png" />
        </div>


        <h1 class="text-center">Pedí lo que sea</h1>
        <p>Si entra en nuestra mochila te lo llevamos</p>

        <hr>


        <form novalidate>

            <div id="divProd">

                <h4>¿Qué producto deseas?</h4>

                <textarea class="form-control" name="Descripcion" ng-model="Descripcion"
                    placeholder="Describe el producto que debemos conseguir" ng-maxlength="{{caractRest}}"
                    ng-trim="false" maxlength="{{caractRest}}"></textarea>
                <small style="color:grey">
                    Caracteres restantes <span style="color:red"
                        name="cantCaract">{{caractRest - Descripcion.length}}</span>
                </small>

                <div class="form-group mt-3">
                    <label>Agregar Foto<small class="text-muted ml-3">*La foto es opcional.</small></label>
                    <input type="file" class="form-control-file" id="inputImagen" />
                </div>
                <div class="text-danger" ng-show="mostrarAlertaImagen === 'E'">
                    La extensión del archivo es incorrecta.
                </div>
                <div class="text-danger" ng-show="mostrarAlertaImagen === 'G'">
                    El archivo es demasiado grande (>5MB).
                </div>
            </div>

            <!-- <div id="GoogleMaps">
                <p style="margin-top:20px">Tambien podes buscarte por Google Maps! </p>

                <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                    <script>(function () {
                            var setting = { "height": 471, "width": 803, "zoom": 11, "queryString": "Córdoba, Cordoba, Argentina", "place_id": "ChIJaVuPR1-YMpQRkrBmU5pPorA", "satellite": false, "centerCoord": [-31.399466095395084, -64.194344], "cid": "0xb0a24f9a5366b092", "cityUrl": "/argentina/cordoba-18277", "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3", "embed_id": "82538" };
                            var d = document;
                            var s = d.createElement('script');
                            s.src = 'https://1map.com/js/script-for-user.js?embed_id=82538';
                            s.async = true;
                            s.onload = function (e) {
                                window.OneMap.initMap(setting)
                            };
                            var to = d.getElementsByTagName('script')[0];
                            to.parentNode.insertBefore(s, to);
                        })();</script><a href="https://1map.com/map-embed?embed_id=82538">1map.com</a>
                </div>
            </div> -->

            <hr>

            <div id="dondeLoConseguimos">

                <h4>¿Dónde lo conseguimos?</h4>


                <div class="form-row">
                    <div class="col-8">
                        <!--<input class="form-control" type="text" placeholder="Calle">-->
                        <input class="form-control" type="text" maxlength="50" placeholder="Calle">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" maxlength="5"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            placeholder="Número" />
                    </div>
                </div>

                <div>
                    <select class="form-control comboBox">
                        <option>Cordoba</option>
                        <option>Almafuerte</option>
                        <option>Berrotaran</option>
                    </select>
                </div>

                <div>
                    <input class="form-control" type="text" name="" id="" maxlength="200" placeholder="Referencias">
                </div>
            </div>

            <hr>

            <h4>¿Dónde lo llevamos?</h4>

            <div class="form-row">
                <div class="col-8">
                    <input class="form-control" type="text" maxlength="50" placeholder="Calle">
                </div>
                <div class="col">
                    <input type="number" class="form-control" maxlength="5"
                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        placeholder="Número" />
                </div>
            </div>

            <div>
                <select class="form-control comboBox">
                    <option value="">Cordoba</option>
                    <option value="">Almafuerte</option>
                    <option value="">Berrotaran</option>
                </select>
            </div>

            <div>
                <input class="form-control" type="text" maxlength="200" placeholder="Referencias">
            </div>

            <hr>

            <h4>Forma de pago</h4>
            <div class="form-check form-check-inline">
                <div class="form-check" ng-click="setRadioEfectivo()">
                    <input class="form-check-input" type="radio" ng-checked="radioEfectivo">
                    <label class="form-check-label" for="">
                        Efectivo
                    </label>
                </div>

                <div class="form-check" ng-click="setRadioTarjeta()">
                    <input class="form-check-input" type="radio" ng-checked="radioTarjeta">
                    <label class="form-check-label" for="">
                        Tarjeta VISA
                    </label>
                </div>
            </div>

            <div ng-show="estadoFormaPago === 'E'">
                <input type="text" class="form-control" placeholder="Monto a pagar">
            </div>

            <div ng-show="estadoFormaPago === 'T'">
                <div class="form-row">
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Número de tarjeta">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="CVC">
                    </div>
                </div>

                <input type="text" class="form-control" placeholder="Nombre y apellido titular">
                <input type="text" class="form-control" placeholder="Fecha de vencimiento (MM/AAAA)">
            </div>

            <hr>

            <h4>¿Cuándo quieres recibirlo?</h4>

            <div class="form-check form-check-inline">
                <div class="form-check" ng-click="setRadioAntesPosible()">
                    <input class="form-check-input" type="radio" ng-checked="radioAntesPosible">
                    <label class="form-check-label" for="">
                        Lo antes posible
                    </label>
                </div>

                <div class="form-check" ng-click="setRadioSelecFechaHora()">
                    <input class="form-check-input" type="radio" ng-checked="radioSelecFechaHora">
                    <label class="form-check-label" for="">
                        Seleccionar fecha/hora
                    </label>
                </div>
            </div>

            <div class="form-row" ng-show="estadoCuandoRecibir === 'S'">
                <input type="text" class="col form-control" placeholder="Fecha">
                <input type="text" class="col form-control" placeholder="Hora">
            </div>

            <hr>

            <div class="d-flex">
                <button class="btn btn-warning border border-secondary flex-fill p-2">
                    PEDIR
                </button>
            </div>

        </form>
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>


</body>

</html>

<!-- Interfaz v1.2 -->
